.search-box{
    -fx-background-radius: 100;
}
.search-box-default{
    -fx-background-radius: 20;
}
.default-button{
    -fx-background-color: #6d86bf;
    -fx-background-radius: 30;
    -fx-text-fill: "WHITE";
    -fx-font-weight: bold;
    -fx-font-family: "System";
}
.default-button:hover
{
    -fx-background-color: #acbee7;
}
.default-button:pressed
{
    -fx-background-color: #6d86bf;
}

.menu-button
{
    -fx-background-color: transparent;
}
.menu-button:hover
{
    -fx-background-color: #BBCBF5;
}
.menu-button:pressed
{
    -fx-background-color: transparent;
}
.tab-pane
{
    -fx-background-color: #909DBD;
}

.progress-bar
{
    -fx-background-color: #bbc9ea;
}